{% form 'localization' %}
    <select name="currency">
      {% for country in localization.available_countries %}
          <option selected="true">{{country.currency.iso_code}} {{country.currency.symbol}}</option>
      {% endfor %}
    </select>
  {% endform %}

  {% form 'localization' %}
    <select name="language">
      {% for language in localization.available_languages %}
        <option selected="true">
          {% if  localization.available_languages > 1 %}
            {{ language.endonym_name | capitalize }}
          {% endif %}
          </option>
      {% endfor %}
    </select>
  {% endform %}